#header {
    font-size: 50px;
    color: #000000;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 68px;
}

.box {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
}


.txt {
    font-family: Arial, sans-serif;
}

.overlayTxt {
    position: absolute;
    top: 109%;
    left: 8%;
    transform: translate(-50%, -50%);

}

.img {
    width: 500px;
    height: 300px;
}

.navTitle {
    color:#000000;
    position: absolute;
    left: 45%;
    top: -22%;
}

.navbar {
    background-color: red;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
}

.content {
    position: absolute;
    top: 10%;
    left: 1%;
    width: 100%;
    height: 90%;

}

#quizBox {
    position: absolute;
    background-color: gray;
    top: 31%;
    left: 37%;
    width: 28%;
    height: 17%;
    border-radius: 10px;
}

#question {
    position: absolute;
    top: -6%;
    left: 13%;
}

#buttons {
    position: absolute;
    top: 50%;
    left: 11%;
}

#scoreCount {
    position: absolute;
    top: 55%;
    left: 45%;
}

#restartBtn {
    position: absolute;
    top: 70%;
    left: 47%;
}
